In [1]:
pwd

'C:\\Users\\hp'

In [2]:
cd Desktop

C:\Users\hp\Desktop

In [3]:
cd DS

C:\Users\hp\Desktop\DS

In [4]:
import pandas as pd

In [5]:
sal = pd.read_csv('Salaries.csv')

In [6]:
sal.head(2)

,RowNumber,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
0,1,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,567595.43,567595.43,1/1/2011,San Francisco
1,2,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,1/1/2011,San Francisco

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148045 entries, 0 to 148044
Data columns (total 11 columns):
RowNumber           148045 non-null int64
Id                  148045 non-null int64
EmployeeName        148045 non-null object
JobTitle            148045 non-null object
BasePay             148045 non-null float64
OvertimePay         148045 non-null float64
OtherPay            148045 non-null float64
TotalPay            148045 non-null float64
TotalPayBenefits    148045 non-null float64
Year                148045 non-null object
Agency              148045 non-null object
dtypes: float64(5), int64(2), object(4)
memory usage: 12.4+ MB

In [8]:
sal['BasePay'].mean()

66325.44884050643

In [9]:
sal['OvertimePay'].max()

245131.88

In [10]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [11]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [12]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [13]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

RowNumber                                                        1
Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                      1/1/2011
Agency                                               San Francisco
Name: 0, dtype: object

In [14]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

RowNumber                               148045
Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                  1/1/2014
Agency                           San Francisco
Name: 148044, dtype: object

In [15]:
sal.groupby('Year').mean()['BasePay']

Year
1/1/2011    63595.956517
1/1/2012    65436.406857
1/1/2013    69630.030216
1/1/2014    66564.421924
Name: BasePay, dtype: float64

In [16]:
sal['JobTitle'].nunique()

2154

In [17]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: JobTitle, dtype: int64

In [18]:
sal[sal['Year'] == 2013]['JobTitle'].value_counts()

Series([], Name: JobTitle, dtype: int64)

In [19]:
def chief_string(string):
    return 'chief' in string.lower().split()

In [20]:
sal['JobTitle'].apply(lambda x: chief_string(x))

0         False
1         False
2         False
3         False
4          True
          ...
148040    False
148041    False
148042    False
148043    False
148044    False
Name: JobTitle, Length: 148045, dtype: bool

In [21]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

476

In [22]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [23]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036669
title_len                -0.036669   1.000000

# Ecommerce Exercise